body {
    font-family: Arial;
    margin: 0;
    background-color: hsl(36, 100%, 99%);
  }
  * {
    box-sizing: border-box;
  }
.flexcontainer {
    display: flex;
    background-color: white;
    padding: 60px 92px;
    justify-content: space-between;
    padding-left: 90px;
  }
.flexcontainer a {
    color: hsl(237, 8%, 51%);
    padding: 20px 20px;
    text-decoration:none;
    text-align: center;
    padding-left: 30px;
    padding-right: 40px;
    }
.flexcontainer a:hover {
    
    color: hsl(5, 93%, 61%);
}
.flexcontainer2{
    padding: 60px 100px;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 45px;
    }
.image1 {
    max-width: 50%;
    }
    .flexboxnew {
    padding: 60px 100px;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    width: fit-content;
    height: fit-content;
    display: inline-block;
    background-size: 100px;
    box-sizing: 20px;
    padding-left: 10px;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0px;
}
.flexboxnew h2 {
  color: hsl(35, 77%, 62%);
  font-size: 40px;
}
.flexboxnew h4:hover {
  color: hsl(35, 77%, 62%);
}
.flexboxnew p {
  color: hsl(233, 8%, 79%);
}
article {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
article p{
  margin-left: 140px;
  font-size: 16px;
  margin-top: 50px;
  color: hsl(236, 13%, 42%);
}
article h3{
  margin-top: 40px;
  margin-left: 140px;
  font-size: 13px;
  background-color: hsl(5, 85%, 63%);
  width: 135px;
  height: 30px;
  text-align: center;
  color: hsl(36, 100%, 99%);
  font-style: Garamond;
  padding-top: 7px;
  font-style: normal;
}
article h1{
  font-size: 50px;
  font-style: bold;
  font-weight: 600;
  border: 2px;
}
article h3:hover {
  color: white;
  background-color: black;
}
hr {
    display: flex;
    width: 200px;
    margin:0 left;
    justify-content: flex-start;   
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: hsl(36, 100%, 99%);
  padding: 2%;
  grid-column-gap: 5px;
 gap: 3px;
 column-gap: 5px;
}
.grid-item {
  padding: 20px;
  text-align: left;
}
.flexboximage1{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.flexboximage2{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.flexboximage3{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.gridcontainer2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: hsl(36, 100%, 99%);
  justify-content: center;
  padding-left: 80px;
  align-items: start;
  grid-auto-flow: row;
  float: inline-start;
  column-gap: 120px;
  padding-bottom: 100px;
  padding-right: 0px;
}
.flexboximage1 div{
  padding-left: 20px;
}
.flexboximage2 div{
  padding-left: 20px;
}
.flexboximage3 div{
  padding-left: 20px;
}

.flexboximage1 h2{
  color: hsl(233, 8%, 79%);
  font-size: 25px;  
}
.flexboximage2 h2{
  color: hsl(233, 8%, 79%);
  font-size: 25px;
  
}
.flexboximage3 h2{
  color: hsl(233, 8%, 79%);
  font-size: 25px;
}
.flexboximage1 h3:hover{
  color: hsl(5, 85%, 63%);
  font-style: bold;
}
.flexboximage2 h3:hover{
  color: hsl(5, 85%, 63%);
  font-style: bold;
}
.flexboximage3 h3:hover{
  color: hsl(5, 85%, 63%);
  font-style: bold;
}
.gridcontainer2 p {
  color: hsl(236, 13%, 42%);
  font-size: 16px;
}
.grid-container h3 {
  font-weight: 700;
}
